#startscreen {
    width: 100%
}

#view {
    height: 400px;
}

#graph {
    height: 400px;
}


// graph styles

.axis text {
  font: 10px sans-serif;
}

.axis .title {
  font-weight: bold;
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend-entry {
    margin: 2px;
}

.pressed {
    background-color: #888888;
}